{% extends 'base.html.twig' %}

{% block title %}Edit Scenario{% endblock %}

{% block body %}
    
    {% set current_route = app.request.attributes.get('_route') %}
    {{ render(controller('App\\Controller\\ActionController::index',{'route' : current_route, 'object' : scenario} )) }}

    {{ include('scenario/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_scenario_index') }}">back to list</a>

    {{ include('scenario/_delete_form.html.twig') }}
{% endblock %}
