{% extends 'base.html.twig' %}

{% block title %}New CartGP{% endblock %}

{% block body %}
    <h1>Create new CartGP</h1>

    {{ include('cartGP/_form.html.twig') }}

    <a href="{{ path('app_cartGP_index') }}">back to list</a>
{% endblock %}
