{% extends 'base.html.twig' %}

{% block title %}Edit Character{% endblock %}

{% block body %}

    <h2>Character
        <a class="fa-solid fa-arrow-left" href="{{ path('app_character_index', {'id': character.id})}}"></a> 
        <a class="fa-solid fa-unlock" href="{{ path('app_character_show', {'id': character.id}) }}"></a>
    </h2>

    {{ include('character/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_character_index') }}">back to list</a>
{% endblock %}
