{% extends 'base.html.twig' %}

{% block title %}New Character{% endblock %}

{% block body %}
    <h2>Create new Character</h2>

    {{ include('character/_new_form.html.twig') }}

    <a href="{{ path('app_character_index') }}">back to list</a>
{% endblock %}
