{% extends 'base.html.twig' %}

{% block title %}Edit CartGP{% endblock %}

{% block body %}
    <h1>Edit CartGP</h1>

    {{ include('cart_gp/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_character_show', {'id': cartGP.buyer.id}) }}">back to list</a>
{% endblock %}
