{% extends 'base.html.twig' %}

{% block title %}New BuildingBase{% endblock %}

{% block body %}
    <h1>Create new BuildingBase</h1>

    {{ include('building_base/_form.html.twig') }}

    <a href="{{ path('app_building_base_index') }}">back to list</a>
{% endblock %}
