{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h2>User
        <a class="fa-solid fa-arrow-left" href="{{ path('app_user_index')}}"></a>
        <a class="fa-solid fa-unlock" href="{{ path('app_user_show', {'id': user.id}) }}"></a>
    </h2>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
